.canvasContainer {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-9)
  );
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  height: 100%;
}

.item {
  cursor: pointer;
}

.item:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}

.selected {
  background-color: var(--mantine-color-appcolor-light) !important;
}

.itemDragging {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}

.dragHandle {
  cursor: grab;
  display: flex;
  align-items: center;
  height: 100%;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
}

.deleteBtn {
  opacity: 0;
}

.item:hover .deleteBtn {
  opacity: 1;
}

.selected .deleteBtn {
  opacity: 1;
}
