.wsForm {
  width: 40vw;

  @media (max-width: 768px) {
    width: 80vw;
  }
}

.wsItemAdd {
  height: 65px;
  width: 300px;
  cursor: pointer;
  border-style: dashed;
}

.wsItem {
  cursor: pointer;
  height: 65px;
  width: 300px;
}

.wsItem:hover,
.wsItemAdd:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-9)
  );
}
