.wscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  align-items: start;
}

.wsitem {
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-in-out;
}

.wsItemAdd {
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.wsItemAdd:hover {
  border-color: var(--mantine-color-dark-4) !important;
}
