.wsForm {
  width: 40vw;

  @media (max-width: 768px) {
    width: 80vw;
  }
}

.wsBtn {
  width: 250px;

  @media (max-width: 768px) {
    width: 100px;
  }
}

.wsItemAdd {
  height: 65px;
  cursor: pointer;
  border-style: dashed;
}

.wsItem {
  height: 65px;
  width: 80%;
  margin-top: 20px;
}
