@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* For dark mode bg body*/
:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: #161616 !important;

}

:root[data-mantine-color-scheme="dark"] * {
    --input-bg: transparent !important;
}