@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ag-select-list * {
    background-color: rgb(248, 249, 250);
}

.ag-select-list *:hover {
    background-color: var(--mantine-color-gray-1);
}

.ag-picker-field-wrapper {
    background-color: rgb(248, 249, 250);
}

/* For dark theme */
.ag-dark .ag-select-list * {
    background-color: var(--mantine-color-dark-7);
}

.ag-dark .ag-select-list *:hover {
    background-color: var(--mantine-color-dark-8);
}

.ag-dark .ag-picker-field-wrapper {
    background-color: var(--mantine-color-dark-7);
}