.card {
  background-color: var(--mantine-color-body);
}

.item {
  & + & {
    padding-top: var(--mantine-spacing-md);
    /* border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)); */
  }
}

.cusomSwitch {
  & * {
    cursor: pointer;
  }
}
