.cardtitle {
    font-weight: 500;
    color: var(--mantine-color-blue-4);
}

.cardtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cardcontent {
    width: 90%;
}

.carddescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}