.blockItem {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-8)
  );
}

.codetext {
  font-size: var(--mantine-font-size-xs);
  word-break: break-word; /* Works in most browsers */
  word-break: break-all; /* Breaks words anywhere */
}
