:root {
  --mantine-color-body: light-dark(
    var(--mantine-color-gray-1),
    #121212
  ) !important;
}

:root[data-mantine-color-scheme='dark'] * {
  --input-bg: transparent !important;
}

[data-mantine-color-scheme='dark'] .mantine-Notifications-notification {
  background-color: #242424 !important;
}

.mantine-AppShell-navbar {
  transition: all 0.2s ease-in-out;
  border-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  ) !important;
}

.breadcrumb-link {
  text-decoration: none;
  color: light-dark(
    var(--mantine-color-appcolor-7),
    var(--mantine-color-appcolor-2)
  );
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.mantine-Checkbox-input {
  cursor: pointer !important;
}

[data-variant='white'] .mantine-Button-inner {
  color: #212121 !important;
}
