 .navbar {
     height: 95vh;
     padding: var(--mantine-spacing-sm);
     padding-bottom: 0;
     display: flex;
     flex-direction: column;
 }

 .links {
     flex: 1;
     margin-left: calc(var(--mantine-spacing-sm) * -1);
     margin-right: calc(var(--mantine-spacing-sm) * -1);
 }

 .linksInner {
     padding-bottom: var(--mantine-spacing-xl);
 }