.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: auto;
  background: #141414;


  @media (max-width: 768px) {
    width: 100%;
  }
}

.form {
  z-index: 2;
  background: #141414;
  border: 1px solid #212121;
  height: auto;
  width: 30vw;
  padding: 40px;
  padding-top: 10vh;
  padding-bottom: 15vh;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    padding: 70px 20px;
  }
}

.form *{
  opacity: 1;
}
