.node {
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
}

.nodeActive {
    border-color: var(--mantine-color-appcolor-filled) !important;
}

.targetHandle {
    height: 1 !important;
    width: 1 !important;
    background: transparent !important;
    border: none !important;
}

.sourceHandle {
    height: 1 !important;
    width: 1 !important;
    background: transparent !important;
    border: none !important;
    bottom: -15px !important;
}

.nodeToolbar {
    cursor: pointer;
}