.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--mantine-shadow-md);
}

.highlighted {
  background: linear-gradient(
    135deg,
    #f1f1f1 0%,
    var(--mantine-color-white) 100%
  );
  color: var(--mantine-color-black);
}

.highlighted .planDescription,
.highlighted .priceGroup span {
  color: var(--mantine-color-black) !important;
  opacity: 0.8;
}
.highlightedButton {
  background-color: var(--mantine-color-black) !important;
  color: var(--mantine-color-white) !important;
}

.planHeader {
  margin-bottom: var(--mantine-spacing-sm);
  text-align: center;
}

.planName {
  margin-bottom: var(--mantine-spacing-xs);
}

.planDescription {
  opacity: 0.9;
}

.priceGroup {
  margin: var(--mantine-spacing-xl) 0;
  flex: 1;
}

.featuresList {
  flex: 1;
  margin: var(--mantine-spacing-xl) 0;
}

.disabledFeature {
  opacity: 0.5;
  text-decoration: line-through;
}

.button {
  margin-top: auto;
}
