.block {
  cursor: pointer;
  border-radius: var(--mantine-radius-sm);
}

.block:hover,
.block:focus,
.focused {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
}
